<mat-expansion-panel
    [expanded]="panelOpenState"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Task
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <textarea (keyup)="enterSubmit($event)" matInput [formControl]="textareaFormControl" [(ngModel)]="taskText" placeholder="Description" name="textarea"></textarea>
          <mat-error *ngIf="textareaFormControl.hasError('required')">Please enter a task description</mat-error>
        </mat-form-field>
      </form>

    </mat-panel-description>
  <mat-action-row>
    <mat-icon class="cancel-button" (click)="togglePanel()">cancel</mat-icon>
    <mat-icon class="accept-button" (click)="addNewTask($event)">done</mat-icon>
  </mat-action-row>
</mat-expansion-panel>
