<mat-expansion-panel
    hideToggle="true"
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Task
      </mat-panel-title>
        <mat-icon *ngIf="!panelOpenState">expand_more</mat-icon>
        <mat-icon *ngIf="panelOpenState">expand_less</mat-icon>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <textarea [(ngModel)]="taskText" cols="30"></textarea>
    </mat-panel-description>
  <mat-action-row>
    <mat-icon class="cancel-button" >cancel</mat-icon>
    <mat-icon class="accept-button" (click)="addNewTask()">done</mat-icon>
  </mat-action-row>
</mat-expansion-panel>
