<mat-expansion-panel 
    hideToggle="true" 
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Task
      </mat-panel-title>         
        <mat-icon *ngIf="!panelOpenState">expand_more</mat-icon>
        <mat-icon *ngIf="panelOpenState">expand_less</mat-icon>
    </mat-expansion-panel-header>
    <textarea [(ngModel)]="taskText" cols="30"></textarea>    
    <button mat-button (click)="addNewTask()">Create</button>
</mat-expansion-panel> 