.toolbar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-icon{
  font-size: 30px;
}

.search-icon:hover{
  cursor: pointer;
  background-color:grey;
}

.left-container{
  margin-right: 20px;
  width: 20%;
  display: flex;
  justify-content: space-around;
}
