.list{
    min-height: 100vh;
    border: 2px solid rgba(8, 8, 8, 0.096);
    background-color: rgb(226, 231, 226);
    width: 250px;
    align-items: center;
    box-sizing: content-box;
}

.list-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.delete-icon{
  width: 1.5em;
  cursor: pointer;
}

.completed{
    background-color: rgb(77, 216, 77);
}
