<div class="list">
  <div class="list-header">
    <h2>List</h2>
    <div class="buttons">
      <img src="assets/images/delete.png" class="delete-icon" alt="delete-task" (click)="deleteList(index)">
    </div>
  </div>

  <div class="collapsible" [class.hidden]="visible"><input type="text"></div>

  <app-task-item *ngFor="let task of listContainer.taskList; let i=index" [taskList]="listContainer.taskList"
    [task]="task" [index]="i"></app-task-item>
    <a href="#" (click)="addNewTask()">+ New Task</a>
</div>
<div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</div>